/**
Styles for Rocket Grid demo so you can see how this works.
https://github.com/angelagiese/Rocket-Grid
*/
/* ===========================================
  #Rocket GRID
  https://github.com/angelagiese/Rocket-Grid
=========================================== */
/* 

Now just use .column(x) in element styles & media queries to make the element into a column that's floating and has a fluid width.

.column(2); = takes up 2 columns on the grid
.column(3); = takes up 3 columns on the grid
.push(4); = adds 4 columns of space on the right
.push(2); = adds 2 columns of space on the left

Don't forget to nest columns, push, and pull inside of a .row()!

*/
/* px-to-rem-mixins by Angela Giese https://github.com/angelagiese/px-to-rem-mixins */
/* ===============
   #BASE STYLES
================ */
body {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 35px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
.h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
  line-height: 3rem;
}
h2,
.h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
}
h3,
.h3 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 28px;
  line-height: 1.75rem;
}
h4,
.h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
}
h6,
.h6 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem;
}
p {
  margin: 0 0 16px;
}
/* =================
     #OBJECTS
================== */
.container {
  /* for use around .wrap for easy application of background 
    color/image/etc */
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.wrap {
  /* to position main content sections vertically centered.
    does not affect text-align property */
  position: relative;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}
.row {
  display: block;
  width: calc(100% + 20px);
  margin: -10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
header,
footer {
  background-color: #754046;
  color: white;
}
header a,
footer a {
  color: white;
}
.container:nth-child(4n+1) .col {
  background-color: #D08D87;
}
.container:nth-child(4n+2) .col {
  background-color: #FDE567;
}
.container:nth-child(4n+3) .col {
  background-color: #FFBD67;
}
.container:nth-child(4n+4) .col {
  background-color: #FF905B;
}
.col {
  min-height: 200px;
  background-color: white;
  color: #444;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  line-height: 1.875rem;
}
/*==========================================
  #RESPONSIVENESS
  It's better to keep width constraints
  and special styles for different 'views'
  here. Everything above here should
  apply to all screen sizes.
==========================================*/
/* Laptop and larger */
@media screen and (min-width: 960px) {
  .demo1 .col {
    display: inline;
    float: left;
    width: calc(((100%/12)*6) - 20px - 0.01%);
    margin: 10px;
  }
  .demo2 .col {
    display: inline;
    float: left;
    width: calc(((100%/12)*4) - 20px - 0.01%);
    margin: 10px;
  }
  .demo3 .col {
    display: inline;
    float: left;
    width: calc(((100%/12)*3) - 20px - 0.01%);
    margin: 10px;
  }
  .demo4 .col {
    display: inline;
    float: left;
    width: calc(((100%/12)*2) - 20px - 0.01%);
    margin: 10px;
  }
  .demo4 .col:nth-child(5) {
    margin-right: calc(((100%/12)*2) + 20px*.5);
    margin-left: 10px;
  }
  .demo4 .col:nth-child(6) {
    margin-left: calc(((100%/12)*2) + 20px*.5);
    margin-right: 10px;
  }
}
/* Laptop and smaller, no desktop */
@media screen and (max-width: 1199px) {
  .wrap {
    padding: 40px;
  }
}
/* Desktop & extra large */
@media screen and (min-width: 1200px) {
  .wrap {
    max-width: 960px;
  }
}
/* Tablet only */
@media screen and (min-width: 481px) and (max-width: 959px) {
  .demo1 .col,
  .demo2 .col,
  .demo3 .col,
  .demo4 .col {
    display: inline;
    float: left;
    width: calc(((100%/12)*6) - 20px - 0.01%);
    margin: 10px;
  }
  .demo4 .col:nth-child(5) {
    margin-right: calc(((100%/12)*6) + 20px*.5);
    margin-left: 10px;
  }
  .demo4 .col:nth-child(6) {
    margin-left: calc(((100%/12)*6) + 20px*.5);
    margin-right: 10px;
  }
}
/* Phone only */
@media screen and (max-width: 480px) {
  .demo1 .col,
  .demo2 .col,
  .demo3 .col,
  .demo4 .col {
    display: inline;
    float: left;
    width: calc(((100%/12)*12) - 20px - 0.01%);
    margin: 10px;
  }
}
